.swiper-button-prev,
.swiper-button-next {
  color: #adb5bd !important;
}
.swiper-button-prev::after {
  font-size: 30px !important;
}
.swiper-button-next::after {
  font-size: 30px !important;
}

.swiper-button-prev:hover {
  color: #ced4da !important; 
}
.swiper-button-next:hover {
  color: #ced4da !important; 
}

.swiper-pagination-bullet {
  background: #dee2e6 !important;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  /* width: 100%;
  height: 100%; */
  object-fit: cover;
  margin: 0 auto;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 460px;
}

.mySwiper {
  width: 100%;
  height: 20%;
  box-sizing: border-box;
}

.mySwiper:last-of-type {
  width: 460px;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
}

.swiper-wrapper:last-of-type {
  display: flex;
  justify-content: space-between;
  /* gap: 10px; */
  width: 380px;
}
@media (max-width: 1200px){
  .c2 {
    padding: 20px 0;
  }
}
@media (max-width: 600px){
  .c2 .swiper {
    width: 360px !important;
  }
  .c2 .swiper-button-prev {
    display: none;
  }
  .c2 .swiper-button-next {
    display: none;
  }
  .swiper-wrapper:last-of-type {
    width: 340px;
  }
}
@media (max-width: 500px){
  .c2 .swiper {
    width: 300px !important;
  }
  .swiper-wrapper:last-of-type {
    width: 280px;
  }
}
@media (max-width: 400px){
  .c2 .swiper {
    width: 280px !important;
  }
  .swiper-wrapper:last-of-type {
    width: 260px;
  }
}

.swiper-slide-visible {
  opacity: 0.4;
  width: auto !important;
  margin: 0 !important;
}

.swiper-slide.swiper-slide-visible {
  cursor: pointer;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  /* width: 100%;
  height: 100%; */
  object-fit: cover;
}
